<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Notre super blog</title>
	</head>
	<body>
		<header>
			<p>Notre super Blog&nbsp;!</p>
			<nav>
				<a href="/">Accueil</a>
			</nav>
		</header>
		<main>
			<h1>Blog</h1>
			<h2>Liste des articles</h2>
			<ul>
				<li><a href="/blog/article-test"></a></li>
			</ul>
			<p>
				Lezgongue! <a
				href="https://docs.astro.build/fr/getting-started/"
				>La documentation</a> est disponible (en français).
			</p>
		</main>
		<footer>Made in Toulouse, France.</footer>
	</body>
</html>